<div id="carousel-frontpage" class="frontpage-carousel carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <img src="{{ STATIC_URL }}shuup_megastore_theme/img/carousel-pics-05.jpg">
        </div>
        <div class="item">
            <img src="{{ STATIC_URL }}shuup_megastore_theme/img/carousel-pics-06.jpg">
        </div>
        <div class="item">
            <img src="{{ STATIC_URL }}shuup_megastore_theme/img/carousel-pics-08.jpg">
        </div>
    </div>

    <ol class="carousel-indicators">
        <li data-target="#carousel-frontpage" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-frontpage" data-slide-to="1"></li>
        <li data-target="#carousel-frontpage" data-slide-to="2"></li>
    </ol>
</div>
