<section class="carousel-section">
    <div class="title-bar light">
        <h2>{% trans %}Hot deals{% endtrans %}</h2>
    </div>
    <div class="owl-carousel four">
        <a href="/" class="col-inner">
            <img class="deal-image" src="{{ STATIC_URL }}shuup_megastore_theme/img/banner-pics-01.jpg">
        </a>
        <a href="/" class="col-inner">
            <img class="deal-image" src="{{ STATIC_URL }}shuup_megastore_theme/img/banner-pics-02.jpg">
        </a>
        <a href="/" class="col-inner">
            <img class="deal-image" src="{{ STATIC_URL }}shuup_megastore_theme/img/banner-pics-03.jpg">
        </a>
        <a href="/" class="col-inner">
            <img class="deal-image" src="{{ STATIC_URL }}shuup_megastore_theme/img/banner-pics-04.jpg">
        </a>
        <a href="/" class="col-inner">
            <img class="deal-image" src="{{ STATIC_URL }}shuup_megastore_theme/img/banner-pics-09.jpg">
        </a>
        <a href="/" class="col-inner">
            <img class="deal-image" src="{{ STATIC_URL }}shuup_megastore_theme/img/banner-pics-10.jpg">
        </a>
    </div>
</section>
