<section class="carousel-section">
    <div class="title-bar light">
        <h2>{% trans %}Sale &amp; Offers{% endtrans %}</h2>
    </div>
    <div class="owl-carousel four">
        <a href="/" class="col-inner">
            <img class="deal-image" src="{{ STATIC_URL }}shuup_megastore_theme/img/sale_and_offers_banner-01.jpg">
        </a>
        <a href="/" class="col-inner">
            <img class="deal-image" src="{{ STATIC_URL }}shuup_megastore_theme/img/sale_and_offers_banner-02.jpg">
        </a>
        <a href="/" class="col-inner">
            <img class="deal-image" src="{{ STATIC_URL }}shuup_megastore_theme/img/sale_and_offers_banner-03.jpg">
        </a>
        <a href="/" class="col-inner">
            <img class="deal-image" src="{{ STATIC_URL }}shuup_megastore_theme/img/sale_and_offers_banner-04.jpg">
        </a>
    </div>
</section>
