<section class="social-media-lift">
    <div class="container text-center">
        <h2 class="text-uppercase">{% trans %}Follow Us!{% endtrans %}</h2>
        <p class="lead">{% trans %}Find out about our best products and offers!{% endtrans %}</p>
        <div class="icons">
            <ul class="list-inline">
                <li><a href="#"><i class="fa fa-3x fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-3x fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-3x fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-3x fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fa fa-3x fa-pinterest"></i></a></li>
            </ul>
        </div>
    </div>
</section>
