{% extends "shoop/front/base.jinja" %}

{% block title -%}
    {{ _("Order History") }}
{%- endblock %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">
                    {{ _("Order history") }}
                </h1>
            </div>
            <div class="panel-body">
                {% if orders %}
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th>{{ _('Identifier') }}</th>
                                <th>{{ _('Order date') }}</th>
                                <th>{{ _('Status') }}</th>
                                <th class="text-right">{{ _('Total price') }}</th>
                                <th></th>
                            </tr>
                            {% for order in orders %}
                                <tr>
                                    <td>{{- order.identifier -}}</a></td>
                                    <td>{{ order.order_date|datetime }}</td>
                                    <td>{{ order.get_status_display() }}</td>
                                    <td class="text-right">{{ order.taxful_total_price|money }}</td>
                                    <td class="text-right"><a href="{{ url("shoop:show-order", pk=order.pk) }}"><i class="fa fa-search-plus"></i> {% trans %}Details{% endtrans %}</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                    <p class="lead"><i class="fa fa-info-circle text-info"></i> {{ _("You haven't made any orders yet.") }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
