{% extends "shuup/front/base.jinja" %}
{% from "shuup/front/macros.jinja" import render_field with context %}

{% block title %}{% trans %}Log in{% endtrans %}{% endblock %}
{% block content_title %}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-push-3">
                {% for error in form.non_field_errors() %}
                    {{ macros.alert(error, mode="danger") }}
                {% endfor %}
                <div class="alert alert-success">
                    {{ _("You can use <b>admin/admin</b> to log in.") }}
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">{% trans %}Log in{% endtrans %}</h1>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post" action="{{ request.path }}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next|default("") }}">
                            {{ render_field(form.username) }}
                            {{ render_field(form.password) }}
                            <button type="submit" class="btn btn-primary btn-block">{% trans %}Log in{% endtrans %}</button>
                            <hr>
                            <a href="{{ url("shuup:recover_password") }}">{% trans %}Forgot your password?{% endtrans %}</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
