{% macro render_pagination(page, paginator) %}
    <script>
        window.PAGE_NUMBER = "{{ page.number }}";
    </script>
    <nav>
        <ul class="pager">
            {% if page.has_previous() %}
                <li id="previous_page">
                    <a href="#" onclick="moveToPage({{ page.previous_page_number()}}); return false;">
                        <i class="fa fa-angle-left"></i> {% trans %}Previous{% endtrans %}
                    </a>
                </li>
            {% else %}
                <li id="previous_page" class="disabled">
                    <span><i class="fa fa-angle-left" aria-hidden="true"></i> {% trans %}Previous{% endtrans %}</span>
                </li>
            {% endif %}
            <li class="page-counter">
                {% trans %}Page{% endtrans %} {{ page.number }} / {{ paginator._num_pages }}
            </li>
            {% if page.has_next() %}
                <li id="next_page">
                    <a href="#" onclick="moveToPage({{ page.next_page_number() }}); return false;">
                        {% trans %}Next{% endtrans %} <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            {% else %}
                <li id="next_page" class="disabled">
                    <span>{% trans %}Next{% endtrans %} <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endmacro %}
