{%- from "shuup_megastore_theme/macros/basket.jinja" import render_basket_supplier_info -%}

{% macro _render_order_line(line, show_supplier_info) %}
{% set product = line.product %}
<tr>
    <td>
        {% if product %}
            {% set image = product.primary_image %}
            {% if not image and product.variation_parent %}
                {% set image = product.variation_parent.primary_image %}
            {% endif %}
            {% if image %}
                <img class="img-responsive"
                        src="{{ image|thumbnail(size=(70, 70)) }}"
                        width="70" height="70">
            {% else %}
                <img class="img-responsive"
                        src="{{ STATIC_URL }}shuup/front/img/no_image_thumbnail.png"
                        width="70" height="70">
            {% endif %}
        {% endif %}
    </td>
    <td>
        {{ line.text }}
        {% if show_supplier_info %}{{ render_supplier_info(line.supplier) }}{% endif %}
        {% if show_product_package_info and product and product.is_package_parent() %}
            {{ render_package_children(product) }}
        {% endif %}
    </td>
    <td class="text-right">
        {{ line.taxful_discounted_unit_price|money }}
        {% if line.unit.to_display(1) != 1 %}
            / {{ line.unit.internal_symbol }}
        {% endif %}
        {% if line.tax_amount %}
            <br>
            <small class="text-muted">
                ({{ line.taxless_discounted_unit_price|money }} {% trans %}excl. tax{% endtrans %})
            </small>
        {% endif %}
        {% if line.is_discounted %}
            <br>
            <small class="text-muted">
                <del>{{ line.taxful_base_unit_price|money }}</del>
            </small>
        {% endif %}
    </td>
    <td class="text-right">
        {{ line.unit.render_quantity(line.quantity) }}
    </td>
    <td class="text-right">
        <span class="line-total">{{ line.taxful_price|money }}</span>
    </td>
</tr>
{% endmacro %}

{% macro render_lines_information(order) %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">{% trans %}Products ordered{% endtrans %}</h2>
        </div>
        <div class="panel-body">
            {% set lines = order.lines.order_by("ordering") %}
            {{ render_lines_table(lines, order.taxful_total_price, order.taxless_total_price) }}
        </div>
    </div>
{% endmacro %}

{% macro render_lines_table(lines, taxful_total_price, taxless_total_price, show_product_package_info=False) %}
    <div class="table-responsive">
        <table class="basket-table table">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-left">{% trans %}Product{% endtrans %}</th>
                    <th class="text-right">{% trans %}Unit Price{% endtrans %}</th>
                    <th class="text-right">{% trans %}Quantity{% endtrans %}</th>
                    <th class="text-right">{% trans %}Total{% endtrans %}</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-right">
                        <strong>{% trans %}Total{% endtrans %}:
                        <span class="total-price">{{ taxful_total_price|money }}</span></strong>
                        {% if taxless_total_price.amount != taxful_total_price.amount %}
                        <br>
                        <span class="total-price text-muted">({{ taxless_total_price|money }} {{ _("excl. tax") }})</span>
                        {% endif %}
                    </td>
                </tr>
            </tfoot>
            <tbody>
                {% set show_supplier_info = xtheme.get("show_supplier_info") and not xtheme.get("group_items_by_supplier") %}
                {% if xtheme.get("group_items_by_supplier") %}
                    {% set groupped_lines = xtheme.group_lines_by_supplier(lines) %}
                    {% for supplier, lines in groupped_lines.items() %}
                        {% if supplier %}
                            <tr class="supplier-info-row">
                                <td colspan="5">
                                    {{ render_basket_supplier_info(supplier) }}
                                </td>
                            </tr>
                        {% else %}
                            <tr><td colspan="5"></td></tr>
                        {% endif %}
                        {% for line in lines %}
                            {{ _render_order_line(line, (line.supplier and show_supplier_info)) }}
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    {% for line in lines %}
                        {{ _render_order_line(line, (line.supplier and show_supplier_info)) }}
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endmacro %}
