{% macro product_box(product, show_image=True, show_description=False, class="product-box", thumbnail_size=(500,500), shop=None, supplier=None) %}
    {% set shop_product = product.get_shop_instance(request.shop) %}
    {% if supplier %}
        {% set product_url = url("shuup:supplier-product", supplier_pk=supplier.pk, pk=product.pk, slug=product.slug) %}
    {% else %}
        {% set product_url = url("shuup:product", pk=product.pk, slug=product.slug) %}
        {% set shop_product = product.get_shop_instance(request.shop, allow_cache=True) %}
        {% set supplier = shop_product.get_supplier() %}
    {% endif %}

    {% set show_supplier_info = (supplier and xtheme.get("show_supplier_info")) %}
    <div class="product-card {{ class }}" id="product-{{ product.id }}">
        <div class="overlay">
            <button type="button"
                    class="btn btn-preview"
                    onclick="showPreview('{{ product.id }}')">
                <i class="fa fa-eye"></i> {% trans %}Preview{% endtrans %}
            </button>
            {% if show_prices and shop_product.is_orderable(
                supplier=None, customer=request.customer, quantity=shop_product.minimum_purchase_quantity) %}
                <form role="form" method="post" action="/basket/" class="add-to-basket">
                    <input type="hidden" name="command" value="add">
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <input type="hidden" name="quantity" value="{{ shop_product.minimum_purchase_quantity }}">
                    <button type="submit" class="btn btn-quick-add"><i class="fa fa-plus"></i> {% trans %}Add to cart{% endtrans %}</button>
                </form>
            {% endif %}
        </div>
        <a href="{{ product_url }}" rel="product-detail" title="{{ product.name }}">
            {% if product|is_discounted %}
                <div class="labels">
                    {% set discount_percent = product|discount_percent %}
                    <span class="sale-badge">-{{ discount_percent }}</span>
                </div>
            {% endif %}
            <div class="image-wrap">
                {% if show_image %}
                    {% set primary_image_thumb = product.primary_image|thumbnail(size=thumbnail_size) %}
                    {% if product.primary_image and primary_image_thumb %}
                        {% set image_url = primary_image_thumb %}
                    {% else %}
                        {% set image_url = STATIC_URL ~ "shuup/front/img/no_image.png" %}
                    {% endif %}
                    <div class="image" style="background-image:url('{{ image_url }}')"></div>
                {% endif %}
            </div>
            <div class="detail-wrap">
                <div class="name">
                    {{ product.name }}
                </div>
                {% if show_supplier_info %}{{ render_supplier_info(supplier) }}{% endif %}
                {% if show_description and product.description %}
                    <p class="description">{{ product.description|striptags|truncate(180)|safe }}</p>
                {% endif %}
                {% if show_user_actions %}
                    <div class="user-list-actions">
                        {{ render_user_actions(product) }}
                    </div>
                {% endif %}
                {% if xtheme.get("show_product_review") %}
                    {{ xtheme.render_product_review_rating(product) }}
                {% endif %}
            </div>
            <div class="price">
                {{ render_product_price(product, price_info, supplier=supplier) }}
            </div>
        </a>
    </div>
{% endmacro %}

{% macro render_user_actions(product) %}
    {% if shuup.urls.has_url("shuup:comparison_view") %}
        <div class="action">
        {{ xtheme.get_comparison_button(product) }}
        </div>
    {% endif %}
    {% if shuup.urls.has_url("shuup:personal_wishlists") %}
        <div class="action">
        {% set wishlist_url = url("shuup:login") if request.customer.is_anonymous else "" %}
        {{ xtheme.get_wishlist_button(product, wishlist_url) }}
        </div>
    {% endif %}
{% endmacro %}
