<div class="main-menu visible-md visible-lg">
    <a href="#main-menu" data-toggle="collapse"><span class="fa fa-bars"></span> {{_("Categories") }}</a>
</div>
<div id="main-menu" class="visible-md visible-lg">
    <ul>
        {% set items_per_row = 4 %}
        {% for c in shuup.general.get_root_categories() recursive %}
        {% set children = c.get_children() %}

        {% if c.level == 0 %}
            {% set divider = (children|length / items_per_row)|round(0, "ceil")|int %}
            {% if divider < items_per_row %}
                {% set divider = items_per_row %}
            {% endif %}
        {% endif %}

        <li {% if c.level == 0 %}class="category-link"{% else %}class="level-{{ c.level }}"{% endif %}><a href="{{ url("shuup:category", pk=c.pk, slug=c.slug) }}">{{ c }}</a>
            {% if children %}
                {% if c.level == 0 %}
                <div class="mega-menu-container {% if c.id == 0 %}open{% endif %}">
                    <a class="megamenu-main-link" href="{{ url("shuup:category", pk=c.pk, slug=c.slug) }}">{{ c }}</a>
                    <ul>
                        {% for c in children %}
                            <li class="level-{{ c.level }}"><a href="{{ url("shuup:category", pk=c.pk, slug=c.slug) }}">{{ c }}</a>
                            {% if loop.index|divisibleby(divider) %}
                                {% if not loop.last %}
                                </ul>
                                {% endif %}
                                <ul>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
