{%- import "shuup/front/macros/general.jinja" as macros with context -%}
{%- from "shuup/front/macros/add_to_cart.jinja" import add_product_to_cart -%}
{%- import "shuup/front/macros/basket.jinja" as basket_macros with context -%}
{%- import "shuup/front/macros/category.jinja" as category_macros with context -%}
{%- import "shuup/front/macros/checkout.jinja" as checkout_macros with context -%}
{%- from "shuup/front/macros/footer.jinja" import render_footer with context %}
{%- from "shuup/front/macros/navigation.jinja" import render_navigation with context %}
{%- import "shuup/front/macros/order.jinja" as order_macros with context -%}
{%- import "shuup/front/macros/product.jinja" as product_macros with context -%}
{%- import "shuup_megastore_theme/macros.jinja" as theme_macros with context %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% trans %}Base{% endtrans %}{% endblock %} &ndash; {{ request.shop.public_name }}</title>
    {% block extrameta %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ static("shuup_megastore_theme/img/favicon.ico") }}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald:400,300,700|Open+Sans:400,600">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300,500">
    <link rel="stylesheet" type="text/css" href="{{ static("shuup_megastore_theme/css/shuup_megastore_theme.css") }}?v=2.0.6">
    {% if user.is_superuser %}
        <script type="text/javascript" src="{{ url("shuup_admin:js-catalog") }}?lang={{ LANGUAGE_CODE }}"></script>
    {% endif %}
</head>
<body{% if request.user and request.user.is_superuser %} class="admin-tools-visible"{% endif %}>
    <div class="content-wrap">
        <div id="main" class="clear-top">
            {{ macros.render_maintenance_mode_notification() }}
            {{ macros.render_messages() }}
            {{ macros.render_errors() }}

            <a href="#" id="scroll_top" class="scroll-top-btn" data-toggle="tooltip" data-placement="left" title="{% trans %}Scroll to top{% endtrans %}">
                <i class="fa fa-angle-up"></i>
            </a>

             {{ render_navigation() }}
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        {{ theme_macros.render_megamenu() }}
                    </div>
                    <div class="col-md-9">
                        {% block banner %}{% endblock %}
                        {% block breadcrumb %}{% endblock %}
                        <main class="{% block extra_main_class %}{% endblock %}">
                            {% block before_content_title %}{% endblock %}
                            {% if self.content_title() %}
                                <div class="page-header">
                                    <h1>{% block content_title %}{% endblock %}</h1>
                                </div>
                            {% endif %}
                            <div class="page-content">
                                {% block content %}{% endblock %}
                            </div>
                        </main>
                    </div>
                </div>
                <div class="row">
                    {% block carousels %}{% endblock %}
                </div>
            </div>
        </div>
        {{ render_footer() }}
    </div>
    <script src="{{ static('shuup/front/js/vendor.js') }}?v=2.0.6"></script>
    <script src="{{ static("shuup/front/js/scripts.js") }}"?v=2.0.6"></script>
    <script src="{{ static("shuup_megastore_theme/js/shuup_megastore_theme.js") }}?v=2.0.6"></script>

    {% block extrajs %}{% endblock %}
    {{ add_product_to_cart() }}
    {{ theme_macros.render_offcanvas_nav() }}
</body>
</html>
