{% extends "shuup/front/base.jinja" %}
{% block content_title %}{% endblock %}

{% block extra_main_class %}index{% endblock %}

{% block content %}

{% placeholder frontpage_carousel %}{% endplaceholder %}
    {% placeholder "front_content" %}
        {% row %}
            {% plugin "shuup_megastore_theme.product_highlight" %}
                type = "newest"
                title = "New Products"
            {% endplugin %}
        {% endrow %}
        {% row %}
            {% plugin "shuup_megastore_theme.product_highlight" %}
                type = "best_selling"
                title = "Best selling products"
            {% endplugin %}
        {% endrow %}
    {% endplaceholder %}
{% endblock %}
