{% extends "shoop/front/base.jinja" %}
{% from "shoop/front/macros.jinja" import render_field with context %}

{% block title %}{% trans %}Recover your password{% endtrans %}{% endblock %}
{% block content_title %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-push-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">{% trans %}Recover your password{% endtrans %}</h1>
                    </div>
                    <div class="panel-body">
                        <p>{% trans %}You can recover your password with either username or email.{% endtrans %}</p>
                        <hr>
                        <form role="form" method="post">
                            {% csrf_token %}
                            {{ render_field(form.username) }}
                            {{ render_field(form.email) }}
                            <button type="submit" class="btn btn-primary btn-block">
                                {% trans %}Send password recovery instructions{% endtrans %}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
