{% extends "shoop/front/base.jinja" %}
{% block title %}{% trans %}User account information{% endtrans %}{% endblock %}
{% block content_title %}{% trans %}User account information{% endtrans %}{% endblock %}

{% block content %}
    <div class="container user-account">
        <form role="form" method="post" action="">
            {% csrf_token %}
            {% for field in form.contact.hidden_fields() %}{{ field|safe }}{% endfor %}
            {% for field in form.billing.hidden_fields() %}{{ field|safe }}{% endfor %}
            {% for field in form.shipping.hidden_fields() %}{{ field|safe }}{% endfor %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{% trans %}User information{% endtrans %}</h2>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        {% for field in form.contact.visible_fields() %}
                            {{ bs3.field(field, layout="horizontal") }}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">{% trans %}Billing information{% endtrans %}</h2>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                {% for field in form.billing.visible_fields() %}
                                    {{ bs3.field(field, layout="horizontal") }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">{% trans %}Shipping information{% endtrans %}</h2>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                {% for field in form.shipping.visible_fields() %}
                                    {{ bs3.field(field, layout="horizontal") }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <button type="submit" class="submit-button btn btn-primary pull-right"><i class="fa fa-check"></i> {% trans %}Save changes{% endtrans %}</button>
        </form>
    </div>
{% endblock %}
