section.social-media-lift {
    padding: 40px 0px;
    background: @brand-primary;
    color: #fff;
    ul {
        list-style: none;
    }
    li {
        margin: 10px;
        display: inline-block;

    }
    a {
        color: #fff;
    }
}
