{% extends "shoop/front/base.jinja" %}

{% if product.is_variation_parent()  %}
    {% set priceinfo = product.get_cheapest_child_price_info(request) %}
{% else %}
    {% set priceinfo = product.get_price_info(request) %}
{% endif %}

{% block extrameta %}
    <meta property="og:site_name" content="{{ request.shop }}">
    <meta property="og:type" content="product">
    <meta property="og:url" content="{{ shoop.urls.model_url(product, absolute=True) }}">
    <meta property="og:title" content="{{ product.name }}">
    {% if primary_image %}
        <meta property="og:image" content="{{ request.build_absolute_uri(primary_image.url) }}">
    {% endif %}
{% endblock %}

{% block title %}{{ product.name }}{% endblock %}
{% block content_title %}{% endblock %}

{% block breadcrumb %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">{% trans %}Home{% endtrans %}</a></li>
            {% set category = shop_product.primary_category %}
            {% if category %}
                {% for c in category.get_ancestors(include_self=True) if c.is_visible(customer=request.customer) %}
                    <li><a href="{{ shoop.urls.model_url(c) }}">{{ c.name }}</a></li>
                {% endfor %}
            {% endif %}
            <li class="active">{{ product.name }}</li>
        </ol>
    </div>
{% endblock %}

{% block content %}
    <div class="product-page">
        <div class="row">

            <div class="product-image col-md-6">
                {% include "shoop/front/product/_product_image.jinja" %}
            </div>

            <div class="product-info col-md-6">
                <h1>{{ product.name }}</h1>
                <div class="sku">
                    <p class="text-muted"><small>{{ product.sku }}</small> / <small>{{ product.manufacturer.name }}</small></p>
                </div>


                {% if product|is_discounted %}
                    <table class="table table-prices">
                    <tr>
                        <td class="text-right">{{ _("List Price") }}:</td>
                        <td><span class="original-price">{{ product|base_price }}</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">{{ _("Discounted Price") }}:</td>
                        <td><span class="discounted-price discount-color">{{ product|price }}</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">{{ _("You Save") }}:</td>
                        <td><span class="discount-color">{{ product|discount_amount }} ({{ product|discount_percent }})</span></td>
                    </tr>
                    </table>
{#                    Discounted Price: {{ product|price }}.<br>#}
{#                    You Save: {{ product|discount_amount }} ({{ product|discount_percent }})<br>#}
                {% else %}
                {% endif %}
{#                <hr>#}
                <div id="product-price-section">
                    {% include "shoop/front/product/_detail_order_section.jinja" with context %}
                </div>
                <hr>
                <ul class="boxes">
                    <li class="delivery" data-toggle="tooltip" title="Free delivery within 3-6 working days" data-placement="bottom">
                        <i class="fa fa-truck"></i><span>{% trans %}Delivery terms{% endtrans %}</span>
                    </li>
                    <li class="return" data-toggle="tooltip" title="If you are not satisfied to the product, you may return it for a refund within 30 days of receiving the order" data-placement="bottom">
                        <i class="fa fa-reply"></i><span>{% trans %}Refund terms{% endtrans %}</span>
                    </li>
                </ul>
                <hr>
                <div class="icons">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x"></i>
                    </span>
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-pinterest fa-stack-1x"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="product-tabs" role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab"><i class="fa fa-file-text-o"></i>{% trans %}Details{% endtrans %}</a></li>
                {% if shoop.product.get_visible_attributes(product) %}
                    <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab"><i class="fa fa-tags"></i>{% trans %}Technical information{% endtrans %}</a></li>
                {% endif %}
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="product-attributes tab-pane fade in active" id="tab2">
                    {% include "shoop/front/product/_detail_details_section.jinja" %}
                </div>
                {% if shoop.product.get_visible_attributes(product) %}
                    <div role="tabpanel" class="product-attributes tab-pane fade" id="tab3">
                        {% include "shoop/front/product/_detail_attributes_section.jinja" %}
                    </div>
                {% endif %}
            </div>
        </div>

        {% if package_children %}
            <section class="carousel-section">
                <div class="title-bar light">
                    <h2>{% trans %}Includes these products{% endtrans %}</h2>
                </div>
                <div class="product-carousel owl-carousel five">
                    {% for child in package_children %}
                        {{ macros.product_box(child, show_description=False) }}
                    {% endfor %}
                </div>
            </section>
        {% elif package_parents %}
            <section class="carousel-section">
                <div class="title-bar light">
                    <h2>{% trans %}Is also available in{% endtrans %}</h2>
                </div>
                <div class="product-carousel owl-carousel five">
                    {% for parent in package_parents %}
                        {{ macros.product_box(parent, show_description=False) }}
                    {% endfor %}
                </div>
            </section>
        {% endif %}

        {{ macros.render_cross_sell_products(
            product, relation_type="computed", title=_("Users who bought this product also bought")
        ) }}

        {{ macros.render_cross_sell_products(
            product, relation_type="recommended", title=_("We recommend these products")
        ) }}

        {{ macros.render_cross_sell_products(
            product, relation_type="related", title=_("Related products")
        ) }}
    </div>

{% endblock %}

{% block extrajs %}
    <script>
        $(function() {
            // Enable lightbox for products with multiple images. Uses arrows to
            // navigate through images.
            var selector_multiple = "a[data-imagelightbox='image-multiple']";
            var instance_multiple = $(selector_multiple).imageLightbox({
                "onStart": function() {
                    overlayOn();
                    closeButtonOn(instance_multiple);
                    arrowsOn(instance_multiple, selector_multiple);
                },
                "onEnd": function() {
                    overlayOff();
                    closeButtonOff();
                    arrowsOff();
                },
                "onLoadStart": function() {
                    activityIndicatorOn();
                },
                "onLoadEnd": function() {
                    $(".imagelightbox-arrow").css("display", "block");
                    activityIndicatorOff();
                }
            });

            // Enable lightbox for products with only one image.
            var selector = "a[data-imagelightbox='image']";
            var instance = $(selector).imageLightbox({
                "onStart": function() {
                    overlayOn();
                    closeButtonOn(instance);
                },
                "onEnd": function() {
                    overlayOff();
                    closeButtonOff();
                },
                "onLoadStart": function() {
                    activityIndicatorOn();
                },
                "onLoadEnd": function() {
                    $(".imagelightbox-arrow").css("display", "block");
                    activityIndicatorOff();
                }
            });

            // Hide carousel arrows if there is only one product image
            var imageCount = $(".product-carousel").find(".item").length;
            if (imageCount < 2) {
                $(".arrow-control-wrap").hide();
            };
        });
    </script>
{% endblock %}
