{% extends "shoop/front/base.jinja" %}
{% from "shoop/front/macros.jinja" import render_field %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">{% trans %}Registration{% endtrans %}</h1>
                </div>
                <div class="panel-body">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form.hidden_fields() %}{{ field|safe }}{% endfor %}
                        {% for field in form.visible_fields() %}{{ render_field(field) }}{% endfor %}
                        <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-check"></i> {% trans %}Register{% endtrans %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
