{% if request.is_ajax() %}
    {% extends "shuup_megastore_theme/base_ajax_content_only.jinja" %}
{% else %}
    {% extends "shuup/front/base.jinja" %}
{% endif %}
{% import "shuup/front/macros/general.jinja" as macros with context %}
{% import "shuup/front/macros/product.jinja" as product_macros with context %}
{% import "shuup/front/macros/category.jinja" as category_macros with context %}

{% block title %}{{ (category.name if category else _("Categories")) }}{% endblock %}
{% block content_title %}{% endblock %}

{% block banner %}
    <section class="image-banner"{% if category.image %} style="background-image: url({{ category.image.url }})"{% endif %}>
        {% if category %} <h1 class="section-title">{{ category.name }}</h1> {% endif %}
    </section>
    {% placeholder "category_top_extra" %}{% endplaceholder %}
{% endblock %}

{% block breadcrumb %}
        {% call macros.breadcrumb() %}
            {{ macros.render_breadcrumb_item("/", _("Home")) }}
            {% if category %}
                {% for c in category.get_ancestors() if c.is_visible(customer=request.customer) %}
                    {{ macros.render_breadcrumb_item(shuup.urls.model_url(c), c.name) }}
                {% endfor %}
            {{ macros.render_breadcrumb_item(None, category.name, True) }}
            {% endif %}
        {% endcall %}
{% endblock %}

{% block content %}
    <script>window.PRODUCT_LIST_FILTERS = {{ form.fields.keys()|list|json }};</script>
    <div class="product-list">
        <div class="category-header">
        {% if category %}
            <div class="child-categories">
                {% for child_cat in category.get_children() if child_cat.is_visible(customer=request.customer) %}
                    <a href="{{ shuup.urls.model_url(child_cat) }}" class="child-category">{{ child_cat.name }}</a>
                {% endfor %}
            </div>
        {% endif %}
            <div class="row product-list-actions">
                <div class="col-sm-4">
                    {% if "sort" in form.fields.keys() %}
                        {{ macros.render_field(form.sort) }}
                    {% endif %}
                </div>
                <div class="col-sm-4">
                    {% if "limit" in form.fields.keys() %}
                        {{ macros.render_field(form.limit) }}
                    {% endif %}
                </div>
            </div>
            <hr class="visible-sm visible-xs">
        </div>
        <div id="ajax_content">
            {% block ajax_content %}
                {%  set pagination = shuup.general.get_pagination_variables(products, page_size or 12) %}
                <div class="products grid row">
                    {% for product in pagination.objects if shuup.product.is_visible(product) %}
                        {{ product_macros.product_box(
                            product, show_description=False, class="category-view", supplier=supplier) }}
                    {% endfor %}
                </div>
                <div class="clearfix">
                    {% if pagination.is_paginated %}
                        {{ macros.render_pagination(pagination.page, pagination.paginator, pagination.page_range) }}
                    {% endif %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block content_under_sidebar %}
    {{ category_macros.render_product_filters_left_side() }}
    {% placeholder "content_under_sidebar" %}{% endplaceholder %}
{% endblock %}

{% block carousels %}
    {% placeholder "category_bottom_extra" %}{% endplaceholder %}
{% endblock %}

{% block extrajs %}
    {{ category_macros.render_extrajs() }}
{% endblock %}

{% block post_navigation_content %}
    <div class="container">
        {% placeholder "category-content-top" %}{% endplaceholder %}
    </div>
{% endblock %}

{% block post_sidebar_content %}
    <div class="container">
        {% placeholder "category-content-bottom" %}{% endplaceholder %}
    </div>
{% endblock %}
