{% extends "shuup/front/base.jinja" %}
{% from "shuup/front/macros/general.jinja" import render_supplier_info %}

{% block extrameta %}{{ macros.render_metadata(product, product.name, product.short_description, "product") }}{% endblock %}

{% block title %}{{ product.name }}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumb %}
    {% call macros.breadcrumb() %}
        {{ macros.render_breadcrumb_item("/", _("Home")) }}
        {% set category = shop_product.primary_category %}
        {% if category %}
            {% for c in category.get_ancestors(include_self=True) if c.is_visible(customer=request.customer) %}
                {{ macros.render_breadcrumb_item(shuup.urls.model_url(c), c.name) }}
            {% endfor %}
        {% else %}
            {{ macros.render_breadcrumb_item(url('shuup:all-categories'), _("Products")) }}
        {% endif %}
        {{ macros.render_breadcrumb_item(None, product.name, True) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% set supplier = supplier or shop_product.get_supplier() %}
    {% set show_supplier_info = (supplier and xtheme.get("show_supplier_info")) %}
    <div class="product-page">
        <div class="row">
            <div class="product-image col-md-6">
                {{ product_macros.render_product_image_section(product) }}
            </div>

            <div class="product-info col-md-6">
                <h1 class="product-name{% if show_supplier_info %} show-supplier-info{% endif %}">{{ product.name }}</h1>
                {%  if show_supplier_info %}{{ render_supplier_info(supplier) }}{% endif %}
                <div class="sku">
                    <p class="text-muted"><small>{{ product.sku }}</small>{% if product.manufacturer %} / <small>{{ product.manufacturer.name }}</small>{% endif %}</p>
                </div>

                {% if product|is_discounted(supplier=supplier) %}
                    <table class="table table-prices">
                    <tr>
                        <td class="text-right">{{ _("List Price") }}:</td>
                        <td><span class="original-price">{{ product|base_price(supplier=supplier) }}</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">{{ _("Discounted Price") }}:</td>
                        <td><span class="discounted-price discount-color">{{ product|price(supplier=supplier)  }}</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">{{ _("You Save") }}:</td>
                        <td><span class="discount-color">{{ product|discount_amount(supplier=supplier)  }} ({{ product|discount_percent(supplier=supplier) }})</span></td>
                    </tr>
                    </table>
                {% endif %}
                {% placeholder "product_price_section_extra_1" %}{% endplaceholder %}
                <div id="product-price-section">
                    {{ product_macros.render_product_order_section(product, variation_variables, variation_children, unorderability_reason, orderable_variation_children, supplier=supplier) }}
                </div>
                {% placeholder "product_price_section_extra_2" %}{% endplaceholder %}
            </div>
        </div>

        {{ product_macros.render_product_detail_top_placeholder() }}

        {% if xtheme.get("show_product_detail_section", True) %}
            {{ product_macros.render_product_information(product, render_title=False) }}

            {% if package_children %}
                <section class="carousel-section">
                    <div class="title-bar light">
                        <h2>{% trans %}Includes these products{% endtrans %}</h2>
                    </div>
                    <div class="product-carousel owl-carousel five">
                        {% for child in package_children %}
                            {{ product_macros.product_box(child, show_description=False) }}
                        {% endfor %}
                    </div>
                </section>
            {% elif package_parents %}
                <section class="carousel-section">
                    <div class="title-bar light">
                        <h2>{% trans %}Is also available in{% endtrans %}</h2>
                    </div>
                    <div class="product-carousel owl-carousel five">
                        {% for parent in package_parents %}
                            {{ product_macros.product_box(parent, show_description=False) }}
                        {% endfor %}
                    </div>
                </section>
            {% endif %}
        {% endif %}

        {{ product_macros.render_product_placeholder_section() }}
    </div>

{% endblock %}

{% block extrajs %}
    {{ product_macros.render_extrajs() }}
{% endblock %}

{% block post_navigation_content %}
    <div class="container">
        {% placeholder "product-content-top" %}{% endplaceholder %}
    </div>
{% endblock %}

{% block post_sidebar_content %}
    <div class="container">
        {% placeholder "product-content-bottom" %}{% endplaceholder %}
    </div>
{% endblock %}
